html,body{
    width: 100%;
    margin : 0;
}

body{
    font-family: Quicksand;
}

.error-container{
    width: 100%;
}
.error{
    font-size: 1.2em;
    color:red;
    text-align: center;
}
.success{
    font-size: 1.2em;
    color:green;
    text-align: center;
}